#IDE
.idea/
.vscode/
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
/.changelog

# node.js
.npm/
node_modules/
npm-debug.log
yarn-error.log

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.test
.env.prod
.env.local

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# TypeScript cache
*.tsbuildinfo
dist/

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Dependency directories
node_modules/

# Compiled binary addons
build/

dump.rdb

*.icloud