.home {
  width: min(90%, 1400px);
  display: flex;
  flex-direction: column;
  // height: calc(100% - 100px - 50px); // fine to hard code tbh
  margin: 0 auto;
}

.home__container {
  display: flex;
}

.home__introduction {
  color: white;
  max-width: 620px;
}

.difficulty__header {
  font-weight: 700;
  font-size: 28px;
  color: white;
  margin: 20px 0 5px;
}

.difficulty__button_container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px 0 15px;

  & .MuiButtonBase-root {
    padding: 5px 30px;
  }
}

.history__header {
  font-weight: 700;
  font-size: 28px;
  color: white;
  margin: 30px 0 10px;
  // position: sticky;
  // top: 100px;
  background-color: #121826;
  z-index: 999;
}

.history__button_container {
  display: flex;
  align-items: center;
  // overflow-y: auto;
  flex-wrap: wrap;
  gap: 1.5rem;

  & .MuiButtonBase-root {
    padding: 5px 30px;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background: #737781;
    border-radius: 4px;
    outline: none;
    border: 2px solid transparent;
    padding: 3px 6px;
  }

  &::-webkit-scrollbar-track {
    background: #353536;
    border-radius: 4px;
  }
}

.history__box {
  display: inline;
  background-color: white;
  border-color: white;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  width: 31.5%;
  background-color: #263238;
  height: 310px;
  margin-bottom: 1.5rem;
}

.history__box__top {
  height: 210px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 6px;
    height: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background: #737781;
    border-radius: 4px;
    outline: none;
    border: 2px solid transparent;
    padding: 3px 6px;
  }

  &::-webkit-scrollbar-track {
    background: #353536;
    border-radius: 4px;
  }

  & ::-webkit-scrollbar {
    height: 6px;
  }

  & ::-webkit-scrollbar-thumb {
    background: #737781;
    border-radius: 4px;
    outline: none;
    border: 2px solid transparent;
    padding: 3px 6px;
  }

  & ::-webkit-scrollbar-track {
    background: #353536;
    border-radius: 4px;
  }
}

.history__box__bot {
  padding: 0.5rem 1rem;
  background-color: white;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.history__container {
  // min-height: 0px;
  display: flex;
  flex-direction: column;
}

.history__box__bot p {
  padding: 0.3rem;
  font-weight: 300;
}

.history__usersAndDate {
  display: flex;
  color: #434446;
  justify-content: space-between;
}

#history__users {
  font-size: 1rem;
  font-weight: 400;
}

#history__date {
  font-size: 0.75rem;
}

#history__question {
  font-size: 0.75rem;
  color: #000;
}

#history__difficulty {
  color: white;
  font-weight: 400;
  background-color: #474dd9;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 12px;
}

.home__statistics {
  margin-left: auto;
}

.home__statistics__title {
  font-size: 24px;
  margin-bottom: 10px;
}

.home__statistics__stats {
  display: flex;
  width: 500px;
}

.home__statistics__progresscircle {
  flex: 1;
  margin-right: 20px;
}

.home__statistics__progressline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 3;
}

.linearProgressTitle {
  display: flex;

  & .linearProgressTitle__difficulty {
    margin-right: 10px;
    color: rgba(229, 232, 237, 0.718);
    font-size: 0.75rem;
    line-height: 1rem;
  }

  & .linearProgressTitle__number {
    color: #fff;
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: 4px;
  }
}

.home__statistics__languages {
  margin-top: 16px;
}

.home__statistics__languages__title {
  font-size: 20px;
  margin-bottom: 10px;
}

.home__statistics__languages__chips {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.home__statistics__languages__chip {
  background-color: #474dd9;
  padding: 4px 12px;
  border-radius: 16px;
  font-size: 12px;
}

.editorAsImage {
  & pre {
    font-size: 0.85em !important;
  }

  // idk why got halal gap tbh
  position: relative;
  top: 5px;
}

.history__bot__bot {
  display: flex;
  align-items: center;
  gap: 5px;
}

.history_loading_container {
  display: grid;
  place-items: center;
  height: 400px;
}
