.account {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.account__change_password {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.account_delete {
  display: flex;
  flex-direction: column;

  & > :nth-child(1) {
    color: white;
    margin-bottom: 20px;

    & > span {
      background-color: #847f7f;
      border-radius: 5px;
      padding: 1px 4px;
    }
  }

  & > :last-child {
    margin-top: 30px;
  }
}
